:root {
  --branding-color: #6c63ff;
  --secondary-color: #272142;
  --heading-font-family: "Baskerville Old Face", serif;
  --default-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans;
}

.hero {
  background-color: #f9f7fe;
  padding: 190px 20px;
  text-align: center;
}

.introduction {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--secondary-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  line-height: 1;
}

p {
  text-align: center;
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  font-size: 18px;
}

.sub-heading {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  color: var(--secondary-color);
}

.btn-branding {
  border-radius: 4px;
  background-color: var(--branding-color);
  color: white;
  padding: 18px 46px;
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 18px;
}

.btn:hover {
  color: #30023b;
  background-color: var(--branding-color);
}

hr {
  width: 300px;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--secondary-color);
}

.container {
  margin-top: 100px;
}

img {
  width: 400px;
  margin-left: 60px;
  border-radius: 4px;
  padding-right: 60px;
}

h2 {
  margin: 55px 0;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
}

.project-paragraph {
  text-align: left;
  opacity: 70%;
  font-size: 16px;
}

.btn-projects {
  border-radius: 4px;
  padding: 18px 25px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    text-align: center;
    font-size: 32px;
  }
  .project-paragraph {
    text-align: center;
    width: 100%;
  }
  .btn-projects {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
