:root {
  --branding-color: #6c63ff;
  --secondary-color: #272142;
  --heading-font-family: "Baskerville Old Face", serif;
  --default-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans;
}

.active {
  color: var(--branding-color) !important;
}

ul a:hover {
  color: var(--branding-color) !important;
}

.hero {
  background-color: #f9f7fe;
  padding: 60px 20px;
  text-align: center;
}

.introduction {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--secondary-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  line-height: 1;
}

.project-heading {
  text-align: center;
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  font-size: 18px;
}

.sub-heading {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  color: var(--secondary-color);
}

.content a {
  text-decoration: none;
  color: var(--branding-color);
}

.btn-branding {
  border-radius: 4px;
  background-color: var(--branding-color);
  color: white !important;
  padding: 18px 46px;
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 18px;
}

.btn:hover {
  color: #30023b !important;
  background-color: var(--branding-color);
}

hr {
  width: 300px;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--secondary-color);
}

.container {
  margin-top: 60px;
}

img {
  border-radius: 4px;
}

.project-img {
  width: 400px;
  margin-left: 60px;
  border-radius: 4px;
  padding-right: 60px;
}

h2 {
  margin: 55px 0;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
}

h4 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.project-paragraph {
  text-align: left;
  opacity: 70%;
  font-size: 16px;
}

.btn-projects {
  border-radius: 4px;
  padding: 18px 25px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 16px;
  font-weight: 500;
}

.content-container {
  padding: 40px 20px;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

.content-container h3 {
  font-family: var(--default-font-family);
  font-size: 18px;
  color: var(--secondary-color);
}

.content-container p {
  line-height: 1.7;
}

.content {
  padding: 20px;
}

.profile-img {
  width: 600px;
}

.world-clock {
  padding-bottom: 112px;
}

.ai-img {
  padding-bottom: 118px;
}

footer {
  margin-top: 100px;
}

footer .contact-box h4 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: bold;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-family: var(--default-font-family);
  font-size: 24px;
}

footer .social-links a {
  padding: 10px 14px;
  border-radius: 50%;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

.github-logo {
  transition: all 200ms ease-in-out;
}

.github-logo:hover {
  transform: scale(1.4);
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    text-align: center;
    font-size: 32px;
  }
  .project-paragraph {
    text-align: center;
    width: 100%;
  }
  .btn-projects {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container img {
    padding: 10px;
  }
  footer .contact-box h4 {
    font-size: 24px;
  }
}
